/* title classname içeren tüm 'h1' elemanlarını seçer. */
h1.title{
font-size:30px;
color:blue;
margin-bottom:20px;
}
/* description classname içeren tüm 'p' elemanlarını seçer.*/
p.description{
font-size:16px;
color:#e2e2e2;
}
/* description classname içeren tüm elemanlarını seçer. */
.description{
font-size:16px;
color:#e2e2e2;
 }
